#container {
    position: relative;
    width: 100%;
    margin: auto;
    z-index: 0;
}

#contents {
    position: relative;
    margin: 0 auto;
    max-width: 1100px;
    padding: 151px 5%;
    vertical-align: top;
    min-height: 700px;
}

.main-img {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
}

.img-inner {
    position: relative;
    padding: 0;
    margin: auto;
    clear: both;
}

.img1 {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
}

.img2 {
    position: relative;
    float: left;
    width: 40%;
    padding-top: 10%;
    padding-left: 5%;
    margin: auto;
    text-align: left;
}


.img3 {
    position: relative;
    float: right;
    width: 40%;
    padding-top: 25%;
    padding-right: 5%;
    margin: auto;
    text-align: right;
}

.img1-1, .img2-1, .img3-1 {
    max-width: 100%;
}